
<h1>Registrese como cliente</h1>


<form method="post">

	<input type="text" placeholder="Nombre" name="Nombre" />
	<br />
	<input type="text" placeholder="Apellido" name="Apellido" />
	<br />
	<input type="text" placeholder="Email" name="Email" />
	<br />
	<input type="password" placeholder="Contraseña" name="Contrasena" />
	<br />
	<input type="submit" value="Registrar" />
	<br />
</form>

<p>@ViewBag.Msg</p>